
body {
    background-color:aqua;
}

@media only screen and (max-width: 60em) {
    body {
      font-size: 0.75em;
    }
  }

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10em;
    background-color:aqua;
}

header h1 {
    margin-left: 6.25em;
    color:brown;
    font-size: 3.125em;
}

header img {
    height: 9.5em;
    margin-right: 6.25em;
}

@media only screen and (max-width: 60em) {
    header {
        display: block;
        height: auto;
    }
    header h1 {
        margin-left:0;
        color:brown;
        font-size: 1.5em;
    }
    header img {
        width: 30em;
        width: auto;
        margin: 0;
    }
  }

.feedback {
    margin-right: 6.25em;
    color:brown;
}
  
.navigation {
    display: inline-flex;
    align-items: center;
    width: 100%;
    background-color:blueviolet;
}

.navigation p {
    color:bisque;
    margin-left: 3.125em;
}


nav li {
    display: inline;
}

nav a {
    color:bisque;
    padding: 1.25em;
}

nav :hover {
    color:aquamarine;
}

.sectionOne {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-image: url("resources/images /poolside.jpeg");
}
.sectionOne p {
    text-align: center;
}

.sectionOne img {
    width: 100%;
    height: auto;
}

.sectionOne p {
    font-size: 9.375em;
    color:bisque;
}





/*     PHOTOS PAGE  */

.photoNav {
    display: flex;
    width: 100%;
    background-color:blueviolet;
    padding: 0 3.125em;
}

.photoHeader {
    display: flex;
    width: 100%;
    justify-content:center;
    background-color: aqua;
}

.photoHeader h1 {
    text-align: center;
    color:brown;
}

.photoContainer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap:wrap;
    background-color: bisque;
}

.photoContainer img {
   height: 25em;
   padding: 1.25em;
}

.projectsContainer {
    display: flex;
    justify-content: center;
    width: auto;
    background-color: aqua;
}

.underConstruction img {
    width: 50em;
    padding-top: 6.25em;
}


.edu {
    display: flex;
    width: 100%;
    justify-content: center;
}

.aboutMe p {
    color:brown;
    text-align: center;
    font-size: 2.5em;
    margin: 1.875em;
}

@media only screen and (max-width: 60em) {
    .aboutMe p {
      font-size: 2em;
      margin: 0;
    }
  }

.contactMe {
    background-color: aqua;
}

.contactMe p {
    margin: 1.5625em 0px 0px 12.5em;
    color:brown;
    font-size: 1.875em;
}

@media only screen and (max-width: 60em) {
    .contactMe p {
    margin: 0;
    color:brown;
    font-size: 2em;
    }
  }